@charset "ISO-8859-1";
.box{
	width: 18.2%;
	padding: 10px;
	border: 2px solid black;
	border-width: meduim;
	display: inline-block;
	text-align: center;
}

.main {
	width : 80%;
	margin: auto;
}

.activities{
	width: 80%;
	border: 2px solid black;
	max-height: 100px;
	min-height: 80px;
	overflow-y: auto;
}